@charset "utf-8";
/* CSS Document */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    margin:10px;
    border:2px solid #906;
    padding:4px;
}
#div1 {
    border:1px solid #600;
    width:800px;
    margin:0 auto;
    margin-top:5px;
    padding:5px;
}

.jaune {
    background-color:#FF6;
    font-size:smaller;
    font-weight:bold;
    margin:4px;
    padding:4px;
}
.vert {
    width:500px;
    margin:0 auto;
    background:#0F3;
    padding:2px;
}
.c1 {
    border:1px solid #36F;
    padding:5px;
}
.c1 ul {
    font-size: x-small;
}

a:link {
    text-decoration:none;
}
label {
    cursor:text;
}
form {
    border:2px solid #000;
    padding:3px;

}
p {
    border:1px solid #000;
}

h4 {
    background-color:#000;
    color:#FFF;
}