h1{
    text-align: center;
}

q{
    background-color: #FFC;
}

:only-child{
    background-color: #CFC;
}

.meng~q{
    background-color: #FCC;
}

.meng{
    color: red;
    font-weight: bold;
}

p{
    counter-reset: nb 0;
}
q:before{
    counter-increment: nb 1;
    content: counter(nb) " : «";
}
q:after{
    content: "»";
}