/* Cree par Charles-Elie Bedard */
@import url(http://fonts.googleapis.com/css?family=Pacifico:400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.container {
	margin: 0 auto;
	width: 80%;
}

.clearfix {
	clear: both;
}

/* CSS Section Header */

nav {
	text-align: center;
}

nav h1 {
	font-family: 'Roboto', sans-serif;
 	letter-spacing: 1px;
 	font-weight: 300;
	color: #222;
}

ul {
	display: inline-block;
	padding: 0;
	width: 800px;
}

nav ul li {
	display: inline-block;
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 42px;
	background-color: #333;
}

nav ul li:hover {
	background-color: #EEE;
}

nav ul li a:hover {
	color: #333;
}

nav ul li a {
	display: block;
	text-decoration: none;
	width: 160px;
	height: 40px;
	color: #FFF;
}

/* CSS Section Aside */

aside {
	float: right;
	width: 200px;
	padding-right: 20px;
}

aside img {
	float: left;
	width: 100px;
	padding-right: 5px;
}

/* CSS Section Content */

section h2 {
	font-family: 'Roboto', sans-serif;
 	letter-spacing: 1px;
 	font-weight: 300;
	margin-left: 230px;
	color: #222;
}

.article-title {
	font-family: 'Pacifico', cursive;
	color: #333;
}

article {
	width: 800px;
	margin: 0 auto;
}

article img {
	padding: 15px;
	width: 200px;
	float: right;
}

article p {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
 	letter-spacing: 1px;
 	font-weight: 300;
 	color: #333;
}


.article-signature {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	text-align: right;
 	letter-spacing: 1px;
 	font-weight: 300;
 	color: #333;
}

/* CSS Section Footer */

.site-footer {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

.site-footer p:first-child {
	display: inline-block;
	padding-right:60px;
	color: #333;
}

.site-footer p:last-child {
	display: inline-block;
	font-family: sans-serif;
	font-style: italic;
 	color: #333;
}