/*Input sur des lignes différentes*/
#form1 fieldset input {
    float: left;

}

#form1 fieldset label {
    float: left;
    clear: left;
    width: 8em;
}

#form1 fieldset input:valid {
    background-color: #a7f563;
}

#form1 fieldset input:invalid {
    background-color: #fea9b6;
}

