h1, h2{
    background-color: #00FF33;
    width: 250px;
    margin: 200px auto;
    text-align: center;
}

h2:hover{
    transform: translateX(30px) translateY(10px);
}

h1:hover{
    transform: rotate(90deg) scale(1.5, 4);
}